body{
   

width: 100%;
height: 100vh;
margin: 0%;
padding: 0%;

background: #E3DDDD;
}

.banner{
   
    width: 100px;
    height: 80px;
    border-radius: 20px;
    background: #ACA5A5;
}

.bannerText{
    
    width: 485px;
    height: 24px;
    
}


.githubIcon {
    
    
width: 56px;
height: 51px;

    
    
}

.menu{
    
width: 53px;
height: 56px;


}

.bannerText ul{
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    gap: 20px;
    display: flex;
}

