@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    width: 100%;
    height: 100vh;
    background: #1AB7AD;
    font-family: 'Roboto', sans-serif;
    
    
}
nav{

    margin-top: 16px;

    width: 100%;
    height: 80px;
    border-radius: 20px;
    background: #209DD8;
    display: flex;
    align-items: center;
    justify-content:space-between;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}



.swwIcon { 
    width: 178px;
    height: 164px;
    margin-left: 8px;

}

.donate-btn{ 
    width: 166px;
    height: 58px;
    margin-right: 8px;
    background: #C0E081;
    border-radius: 32px;
    font-size: 32px;
    border: none;
    color: #f8efed;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bannerText ul{
    list-style: none;
    font-size: 32px;
    display: flex;
    align-items: center;
    padding: 0%;
    gap: 140px;
    color: #f8efed;
  
}


.about h1{
    
    
    font-size: 96px;
    line-height: 112px;
    color: #209DD8;
    margin-left: 76px;
    margin-top: 30px;
    font-weight: bold;
    
    
}

.about h2{
    
    
    font-size: 48px;
    line-height: 56px;    
    color: #1AB7AD;
    margin-left: 8px;
    margin-top: 37px;
    margin-left: 76px;
    font-weight: bold;
    
}

.about p{

    min-width: 589px;

    font-size: 16px;
    line-height: 19px;
    color: #20312E;
    width: 40%;
    margin-left: 76px;
    margin-top: 30px;
    font-weight: normal;
    

    
}

.g-about{
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 661px;
    background: #F8EFED;
    border-radius: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pic-1row{
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 8px;
}

.walterPics-about{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    margin-top: 30px;
}

.walter_2{
    width: 155px;
    height: 204px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   
}

.walter_1{
    width: 254px;
    height: 326px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.walter_3{
    width: 143px;
    height: 190px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.walter_5{
    width: 374px;
    height: 259px;
    align-self: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}





.about-2{
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 581px;
    background: #F8EFED;
    border-radius: 24px;
    gap: 100px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    

}

.about-2 p{
    min-width: 824px;

    font-size: 16px;
    line-height: 19px;
    color: #20312E;
    width: 40%;
    margin-left: 76px;
    font-weight: normal;
}

.about-2 img{
    width: 314px;
    height: 490px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.about-3{
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 461px;
    background: #F8EFED;
    border-radius: 24px;
    gap: 200px;
    
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    

}

.about-3 p{
    min-width: 624px;

    font-size: 16px;
    line-height: 19px;
    color: #20312E;
    width: 40%;
    margin-left: 76px;
    font-weight: normal;
}

.about-3 img{
    width: 382px;
    height: 416px;
}







.g-donate{

    margin-top: 16px;
    width: 100%;
    height: 808px;
    background: #209DD8;
    border-radius: 24px;
    gap: 48px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container-donate-message{
    display: flex;
}

.container-donate-message img{
    width: 236px;
    height: 236px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 80px;
}

.p-donate-1{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #F8EFED;
    margin-top: 24px;
}

.p-donate-2{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #F8EEC0;
    margin-top: 24px;
    margin-bottom: 24px;

}

.save_walter_banner-donate{
    width: 928px;
    height: 165px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

.donate_button-donate{
    width: 322px;
    height: 151px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}



.g-visitors{
    margin-top: 16px;
    width: 100%;
    height: 275px;
    background: #20312E;
    box-shadow: 0px 4px 8px 4px rgba(48, 62, 64, 0.25); 
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.p-visitors-1{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color: #F8EFED;

}

.p-visitors-2{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #C0E081;

}

footer{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 56px;
    text-align: center;
    color: #F8EFED;

}



@media (max-width: 420px){
    .bannerText{
        display: none;
    }
}

