@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    width: 100%;
    height: 100vh;
    background: #1AB7AD;
    font-family: 'Roboto', sans-serif;
}
nav{

    margin-top: 16px;

    width: 100%;
    height: 80px;
    border-radius: 20px;
    background: #209DD8;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}



.swwIcon { 
    width: 178px;
    height: 164px;
    margin-left: 8px;

}

.donate-btn{ 
    width: 166px;
    height: 58px;
    margin-right: 8px;
    background: #C0E081;
    border-radius: 32px;
    font-size: 32px;
    border: none;
    color: #f8efed;
}

.bannerText ul{
    list-style: none;
    font-size: 32px;
    display: flex;
    align-items: center;
    padding: 0%;
    gap: 140px;
    color: #f8efed;
  
}


.about h1{
    
    
    font-size: 96px;
    line-height: 112px;
    color: #209DD8;
    margin-left: 76px;
    margin-top: 30px;
    font-weight: bold;
    
    
}

.about h2{
    
    
    font-size: 48px;
    line-height: 56px;    
    color: #1AB7AD;
    margin-left: 8px;
    margin-top: 37px;
    margin-left: 76px;
    font-weight: bold;
    
}

.about p{

    min-width: 589px;

    font-size: 16px;
    line-height: 19px;
    color: #20312E;
    width: 40%;
    margin-left: 76px;
    margin-top: 30px;
    font-weight:bolder;

    
}

.g-about{
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 661px;
    background: #F8EFED;
    border-radius: 24px;
}

.pic-1row{
    display: flex;
    align-items: flex-end;
}

.walterPics-about{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    margin-top: 30px;
}

.walter_2{
    width: 155px;
    height: 204px;
   
}

.walter_1{
    width: 254px;
    height: 326px;
}

.walter_3{
    width: 143px;
    height: 190px;
}

.walter_4{
    width: 374px;
    height: 259px;
    align-self: center;
}





.about-2{
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 581px;
    background: #F8EFED;
    border-radius: 24px;
    gap: 100px;
    justify-content: center;
    align-items: center;
    

}

.about-2 p{
    min-width: 824px;

    font-size: 16px;
    line-height: 19px;
    color: #20312E;
    width: 40%;
    margin-left: 76px;
    font-weight:bolder;
}

.about-2 img{
    width: 314px;
    height: 490px;
}


.about-3{
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 461px;
    background: #F8EFED;
    border-radius: 24px;
    gap: 200px;
    
    align-items: center;
    

}

.about-3 p{
    min-width: 624px;

    font-size: 16px;
    line-height: 19px;
    color: #20312E;
    width: 40%;
    margin-left: 76px;
    font-weight:bolder;
}

.about-3 img{
    width: 382px;
    height: 416px;
}








@media (max-width: 420px){
    .bannerText{
        display: none;
    }
}

